main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.container {
  margin-left: 450px;
}
.tl-Header{
  font-size: 20px;
  margin-left: 40px;
  font-family:Arial, Helvetica, sans-serif;
  width:85%;
}

.checkbox{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 100%; /* Hace que el checkbox sea circular */
  cursor: pointer;
}
.tl-body-li{
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  list-style:none;
  background: rgb(220, 217, 217) ;
  border-radius: 10px;
  margin-right:110px ;
  padding: 15px;

  width:50%;
}

.tl-body-span{
  padding-right: 50PX;
  font-size: 50px;
  padding-left: 40px;
  padding-right: 500px;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(103, 103, 203);
}
.boton-i{
  margin-left: -20px;
  width: 60px;
  height: 60px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 40px;
}
.edit{
  color:rgb(77, 151, 176);
}
.edit:hover{
  color: black;
}
.trash{
  color:red;
}
.trash:hover{
  color: blue;
}


#MyInput{
  width: 1250px;
  height: 60px;
  border-radius: 10px;
  margin-left:45px ;
  font-size: 45px;
}
#MyInput::placeholder {
  font-size: 30px;
  padding-left: 10px;
}

.tl-Header-btn-2{
  width: 60px;
  height: 60px;
  margin-left: 7px;
  background-color: lightskyblue;
  color: white;
  font-size: 25px;
  border:none;
  border-radius: 10px;
  cursor: pointer;
}
.tl-Header-btn-2:hover{
  background-color: gray;
}